.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1.5rem;
}

.CardBody{
    padding: .5rem;
}

p{
    padding: 1rem 0;
}

.html{
    background-color: lightcoral;
}

.css{
    background-color: lightblue;
}

.js{
    background-color: lightpink;
}

.php{
    background-color: lightgoldenrodyellow;
}